Package: linux-headers-blackberry-athena
Source: linux-android-blackberry-athena
Version: 0.0.0+git20230829122528.ad999af.jesus.droidian.athena.ace748.insecure+git20230913184421.5f0716c.jesus.athena.aaz108
Architecture: arm64
Maintainer: Droidian porters <info@droidian.org>
Installed-Size: 7
Depends: linux-headers-4.4.78-blackberry-athena (= 0.0.0+git20230829122528.ad999af.jesus.droidian.athena.ace748.insecure+git20230913184421.5f0716c.jesus.athena.aaz108)
Section: kernel
Priority: optional
Description: Linux kernel for BlackBerry KEY2 - Headers (latest)
 This package depends to the latest kernel headers available for the BlackBerry KEY2.
