Package: linux-headers-4.4.78-blackberry-athena
Source: linux-android-blackberry-athena
Version: 0.0.0+git20230829122528.ad999af.jesus.droidian.athena.ace748.insecure+git20230913184421.5f0716c.jesus.athena.aaz108
Architecture: arm64
Maintainer: Droidian porters <info@droidian.org>
Installed-Size: 48512
Depends: linux-image-4.4.78-blackberry-athena (= 0.0.0+git20230829122528.ad999af.jesus.droidian.athena.ace748.insecure+git20230913184421.5f0716c.jesus.athena.aaz108)
Section: kernel
Priority: optional
Description: Linux kernel for BlackBerry KEY2 - Headers
 This package contains the Linux kernel headers for the BlackBerry KEY2 device.
