Package: linux-bootimage-4.4.78-blackberry-athena
Source: linux-android-blackberry-athena
Version: 0.0.0+git20230829122528.ad999af.jesus.droidian.athena.ace748.insecure+git20230913184421.5f0716c.jesus.athena.aaz108+git20240820014655.f27657f.droidian
Architecture: arm64
Maintainer: Droidian porters <info@droidian.org>
Installed-Size: 56843
Pre-Depends: flash-bootimage (>= 4)
Depends: linux-image-4.4.78-blackberry-athena (= 0.0.0+git20230829122528.ad999af.jesus.droidian.athena.ace748.insecure+git20230913184421.5f0716c.jesus.athena.aaz108+git20240820014655.f27657f.droidian)
Section: kernel
Priority: optional
Description: Linux kernel for BlackBerry KEY2 - Android Boot Image
 This package contains the Linux kernel for the BlackBerry KEY2 device.
 .
 Note: This package ships an Android Boot Image bundled with Halium's
 initramfs.
